.chart div {

	width: 5px;
	float: left;
	font: 10px sans-serif;
	background-color: blue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}

.bubble-sort-chart {

	position: fixed;
	left: 20px;
	top: 20px;


}
.selection-sort-chart{

	position: fixed;
	left: 20px;
	top: 260px;

}
.quick-sort-chart{

	position: fixed;
	left: 20px;
	top: 500px;
}
